@tailwind base;
@tailwind components;
@tailwind utilities;

.table-style th {
  height: 80px;
}
.table-style td {
  padding: 20px 46px; /* Atur ukuran padding sesuai kebutuhan */
}
.table-style tbody {
  height: 80px;
  width: 40px;
}
.table-style tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* Warna untuk baris genap */
}

.table-style tbody tr:nth-child(odd) {
  background-color: #ffffff; /* Warna untuk baris ganjil */
}
